<%= link_to 'Home',:controller=>'employee' %>
<% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<p>
<%= f.label :name %>
<%= f.text_field :name %>
</p>


<% if @employee.new_record? or @employee.language.nil? %>
<ul>
  <% @languages.each do |language| %>
      <li>
        <%= check_box_tag 'employee[language][]', language.id -%>
        <%= h language.language_name -%>
      </li>
  <% end %>
</ul>


<% 
else
  @languages.each do |language| %>
  <span class="sub_type_cbox">
    <%= check_box_tag 'employee[language][]', language.id, @employee.language.include?(language.id.to_s) %>
    <%= language.language_name %>
  </span>
  <br>
 <% end %>
<% end %>


<p>
<%= f.label :gender %>
<%= f.radio_button :gender, 'Male' %> Male
<%= f.radio_button :gender,'Female' %> Female
</p>

<p>
<%= f.label :department %>
<%= f.text_field :department %>
</p>
<%= f.submit %>
