<%= link_to "Attendance History Home",controller:'attendancehistories' %>
<p>Employee Name : <%= @attendance_history.attendance.employee.name %></p>
<p>Employee Attendance : <%= @attendance_history.attendance.day %></p>
<p>From Hour : <%= @attendance_history.from_hour %></p>
<p>To Hour : <%= @attendance_history.to_hour %></p>

